@font-face {
  font-family: 'japani';
  src: url(/assets/REVOKA-PERSONALUSE.otf);
}

:root {

  --ff-comic: 'Bangers', Arial, serif;
  --ff-text: 'Sawarabi Mincho', Verdana, serif;
  --ff-japani: 'japani', monospace, sans-serif;
}

/* utilities */

.remove-bg {
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}

html {
  scroll-behavior: smooth;
}

div.granite {
  background-image: url(/img/bg-imgs/granite.png);
  background-repeat: repeat;
}

div#audio-controls {
  float: left;
  padding-left: 1rem;
  padding-top: 1rem;
}

div#audio-controls>button {

  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: 2px solid #000;
  border-radius: 50%;
  color: #fff;
  background: #000;
  font-size: 1rem;
  font-weight: 600;
  padding: 12px 20px;
  text-align: center;
  transition-duration: .15s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

#audio-controls>button:hover {
  color: #000;
  background: rgb(255, 218, 87);
}

/* general set */

body {
  font-family: var(--ff-text);
  color: white;
  font-size: 16px;
}

/* main first */

main.section-one {
  background-image: url(../img/bg-imgs/background-main-min.jpg);
  width: 100%;
  height: 100%;
  background-position: top;
  background-repeat: no-repeat;

}

main.section-one>div:first-child {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 10% 80%;
}

@media (min-width: 1400px) {
  body {
    font-size: 1.4rem;
  }

  main.section-one>div:first-child {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 80%;
  }

  .main-article h1 {
    font-size: 5rem !important;
  }

  b.invincible {
    font-size: 2rem;
  }
}

header {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-end: 3;
  padding: 1rem 1rem;
  padding-bottom: 0;
}

header>div {
  display: flex;
}

div.logo {
  display: flex;
  align-items: center;
  font-family: var(--ff-japani);
  letter-spacing: 2px;
  font-size: 3rem;
}

div.logo>img {
  width: 5.7rem;
  padding-right: 2rem;
}

div.logo span.logo-letter {
  background-image: linear-gradient(175deg, #d69432, black);
  color: transparent;
  /* background-clip is what does the heavy lifting here */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 1px white;
}

ul.nav {
  font-family: var(--ff-comic);
  letter-spacing: 2px;
  display: flex;
  gap: 2rem;
  margin-left: auto;
  align-items: center;
}

ul.nav li {
  list-style: none;
  color: #d69432;
  font-size: 2rem;
}

li a,
.dropbtn {
  display: inline-block;
  color: #d69432;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: #3c352b;
  border-radius: 1rem;
}

.hover-brown:hover {
  background-color: #3c352b;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: 0 0 15px rgb(255, 215, 35);
  transition: box-shadow .5s;
}

.hover-brown>a {
  display: inline-block;
  height: fit-content;
  width: fit-content;
  text-decoration: none;

}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 1rem;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #d69432;
}

.dropdown:hover .dropdown-content {
  display: block;
}

div.main-article {
  grid-row: 2 / 3;
  grid-column: 2/3;
  display: flex;
  width: 80%;
  margin: 4rem auto;
  margin-bottom: 0;
  gap: 4rem;
}

.main-article * h1 {
  font-family: "japani";
  letter-spacing: 3px;
  text-align: center;
  font-size: 3rem;

  background-image: linear-gradient(175deg, #d69432, white);
  color: transparent;
  /* background-clip is what does the heavy lifting here */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 1px black;
}


header+div>article {
  width: 60%;
}

.main-article p {
  background-color: hsla(328, 0%, 0%, 0.7);
  border-radius: .4rem;
}

.invincible {
  display: inline-block;
  padding: 1rem 0;
  padding-left: 5rem;
  font-size: 1.5rem;
  color: #d69432;
}

.p-gallery {
  text-align: center;
  margin: 0 auto;
}

.p-gallery>p:hover {
  box-shadow: 0 0 15px rgb(255, 215, 35);
  transition: box-shadow .5s;
  cursor: pointer;
}

.p-gallery>p {
  display: inline;
  border: 1px solid #d69432;
  border-radius: 3px;
  padding: 3px;
}

header+div>div.main-img {
  width: 60%;
}

div.main-img {
  margin: auto 0;
  padding: 1rem;
  outline: .4rem outset #d69432;
}

/* Section two */

main.section-two {
  background-image: url(../img/bg-imgs/bg2.jpg);
  width: 100vw;
  height: 100vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

main.section-two {
  color: black;
  font-size: 2rem;

}

main.section-two>div:first-child {
  width: 90%;
  height: 100%;
  display: grid;
  grid-template-columns: 25% 60% 15%;
  grid-template-rows: 32% 68%;
  text-align: center;

}

main.section-two article {
  grid-column-start: 2;
  grid-row-start: 2;
}

main.section-two h1 {
  margin-bottom: 2rem;
}

/* gallery */

main.gallery-one {
  background-image: url(../img/bg-imgs/bg3.jpg);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  color: black;
  display: flex;
  justify-content: right;
}

main.gallery-one>div {
  width: 96%;
  height: 96%;
  display: grid;
  grid-template-columns: 29% auto auto 10%;
  grid-template-rows: 40% auto auto;
  gap: 1rem;
  align-content: center;

}

main.gallery-one p {
  grid-row-start: 1;
  grid-row-end: 3;
  font-size: 1.5rem;
  padding: 1.5rem;
  align-self: center;

}

main.gallery-one img {
  border: 5px solid black;
}

main.gallery-one>div img:first-of-type {
  grid-row-start: 1;
  grid-column-start: 2;
  width: 100%;
  margin-bottom: 1.5rem;
}

.img2 {
  grid-row-start: 2;
  grid-column-start: 2;
  align-self: end;

}

.img3 {
  grid-row-start: 1;
  grid-column-start: 3;
  grid-row-end: 3;
  align-self: center;
}

main.gallery-two>div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.middle {
  opacity: .6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 80%;
}

main.gallery-two>div img:first-child {
  border-radius: 50% 0 0 50%;
  height: 100vh;
}

main.gallery-two>div img:first-child+img {
  border-radius: 0 50% 50% 0;
  height: 100vh;
}

main.gallery-three {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: url(../img/bg-imgs/tree-right.jpg);
  background-size: cover;
  justify-content: center;
}

main.gallery-three>div {
  width: 97%;
  height: 97%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 60% auto;
}

main.gallery-three>div img:first-child {
  border: .8rem solid black;
  width: 100%;
  grid-column-start: 2;
  grid-row-start: 2;
}

main.gallery-three>div img:first-child+img {
  grid-column-start: 3;
  grid-row-start: 2;
  height: auto;
  align-self: end;
  border-bottom: 2rem solid black;
}

main.gallery-three>div p {
  color: black;
  font-family: var(--ff-comic);
  grid-column-start: 3;
  grid-row-start: 2;
  align-self: start;
  text-align: center;
  padding-top: 1rem;
  font-size: 2rem;
}

main.gallery-four {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: url(../img/wallpaper.png);
  background-size: cover;
  letter-spacing: 1.1px;
}

main.gallery-four>div {
  width: 100vw;
  height: 100vh;
  font-family: var(--ff-comic);
  display: grid;
  grid-template-columns: 25% auto;
  grid-template-rows: 28% auto;
}


main.gallery-four p {
  color: white;
  font-size: 2rem;
  padding-top: 1rem;
  padding-left: 1rem;
}

main.gallery-four img {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-column-end: 3;
  height: 80%;
  width: auto;
  border: 4px solid black;
  margin-left: 20%;
  margin-top: 5%;
}

main.gallery-four q {
  grid-column-start: 2;
  grid-row-start: 2;
  justify-self: end;
  font-size: 3ch;
  padding-right: 4rem;
  padding-top: 9%;
}

main.gallery-five>div {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-auto-flow: row;
}

main.gallery-five {
  background-image: url(../img/bg-imgs/sakura.png);
  background-size: 34%;
  background-position: bottom left;
  background-repeat: no-repeat;
  background-color: #f7f7f7;
}

main.gallery-five>div img {
  border: .5rem solid black;
}

.mosaico {
  color: black;
  font-family: var(--ff-japani);
  text-align: center;
  letter-spacing: 1.1px;
}

main.gallery-six {
  background-color: #fefefe;
  background-image: url(../img/infinite.jpg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 60% 10%;
}

main.gallery-six>div {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  height: 100vh;
  width: 100vw;
}

main.gallery-six>div img {
  height: auto;
  width: 50%;
}

.right-white {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  justify-self: end;
  height: 100vh !important;
  width: 20vw !important;
}

main.gallery-seven {
  background-color: #fdfdfd;
  background-image: url(../img/sekishusai-min.png);
  background-repeat: no-repeat;
  background-position: 40% 0;
  background-size: 69%;
  width: 100vw;
  height: 100vh;
  position: relative;
}

main.gallery-seven img {
  position: absolute;
  left: 0;
  height: 100%;
}

main.gallery-seven div {
  display: inline-block;
  border: 4px solid #0a0a0a;
  background-color: #0a0a0a;
  color: #cfcfcf;
  font-size: 1.9rem;
  z-index: 99;
  position: absolute;
  bottom: 0;
  right: 4px;
  cursor: pointer;
}

main.gallery-seven div>a {
  text-decoration: none;
  display: inline-block;
  height: 100%;
  width: fit-content;
  padding: 3% 3%;
  text-align: center;
}

main.gallery-seven div>a:visited {
  text-decoration: none;
  color: #cfcfcf;
}


main.gallery-seven div:hover {
  border: 4px double#d69432;
}